@import 'maplibre-gl/dist/maplibre-gl.css';
@import '@geoql/maplibre-gl-compare/style.css';

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  overflow: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

canvas {
  outline: none !important;
}

.h-screen {
  height: 100vh;
}

.h-full {
  height: 100%;
}

.w-screen {
  width: 100vw;
}

.w-full {
  width: 100%;
}

.map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#comparison-container {
  position: relative;
}

.compare-swiper-vertical::after,
.compare-swiper-horizontal::after {
  content: '↔';
  font-size: 18px;
  color: #a1a1aa;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.compare-swiper-horizontal::after {
  content: '↕';
}
