:root {
  --compare-swiper-bg: #3887be;
  --compare-swiper-border: #ffffff;
  --compare-line-bg: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root:not([data-compare-theme='light']) {
    --compare-swiper-bg: #60a5fa;
    --compare-swiper-border: #1f2937;
    --compare-line-bg: #374151;
  }
}

:root[data-compare-theme='light'] {
  --compare-swiper-bg: #3887be;
  --compare-swiper-border: #ffffff;
  --compare-line-bg: #ffffff;
}

:root[data-compare-theme='dark'] {
  --compare-swiper-bg: #60a5fa;
  --compare-swiper-border: #1f2937;
  --compare-line-bg: #374151;
}

.maplibregl-compare {
  background-color: var(--compare-line-bg);
  position: absolute;
  left: 0;
  top: 0;
  width: 2px;
  height: 100%;
  z-index: 1;
}

.maplibregl-compare .compare-swiper-vertical {
  background: var(--compare-swiper-bg);
  box-shadow: inset 0 0 0 2px var(--compare-swiper-border);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  width: 60px;
  height: 60px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 20px;
  line-height: 1;
  cursor: ew-resize;
  user-select: none;
}

.maplibregl-compare-horizontal {
  position: relative;
  width: 100%;
  height: 2px;
}

.maplibregl-compare .compare-swiper-horizontal {
  background: var(--compare-swiper-bg);
  box-shadow: inset 0 0 0 2px var(--compare-swiper-border);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  width: 60px;
  height: 60px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  color: #fff;
  font-size: 20px;
  line-height: 1;
  cursor: ns-resize;
  user-select: none;
}
