.maplibregl-compare {
  background-color: #fff;
  position: absolute;
  width: 2px;
  height: 100%;
  z-index: 1;
}

.maplibregl-compare .compare-swiper-vertical {
  background-color: #3887be;
  box-shadow: inset 0 0 0 2px #fff;
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  width: 60px;
  height: 60px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  cursor: ew-resize;
  user-select: none;
}

.maplibregl-compare-horizontal {
  position: relative;
  width: 100%;
  height: 2px;
}

.maplibregl-compare .compare-swiper-horizontal {
  background-color: #3887be;
  box-shadow: inset 0 0 0 2px #fff;
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  width: 60px;
  height: 60px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  color: #fff;
  cursor: ns-resize;
  user-select: none;
}
